<div>
    <h2>Movie Search</h2>
        <input type="text" id="movieName" placeholder="Enter movie name">
        <button type="submit" id="submit">Search</button>
    <hr>
        <section class="container-fluid">
            <div id="savedMovies"></div>
        </section>
</div>